/* =========================
   SCANNER ANIMATION
========================= */


.scanner-animation{

    margin-top:40px;

    text-align:center;

}


.scanner-line{

    width:250px;

    height:3px;

    background:#00bfff;

    margin:auto;

    animation:scan 1.2s infinite;

    box-shadow:0 0 20px #00bfff;

}


@keyframes scan{

    0%{

        transform:translateX(-80px);

        opacity:0;

    }


    50%{

        opacity:1;

    }


    100%{

        transform:translateX(80px);

        opacity:0;

    }

}

.scan-steps{

    margin-top:30px;

    text-align:left;

    width:300px;

    margin-left:auto;

    margin-right:auto;

}


.scan-steps div{

    margin:15px 0;

    color:#777;

    transition:.3s;

}


.scan-steps .active{

    color:#00bfff;

}


.scan-steps .done{

    color:#00ff88;

}
